# Server Environment Variables Example

# The port the backend will run on
PORT=5000

# The MongoDB connection string
MONGO_URI=mongodb://localhost:27017/emp

# The URL of your frontend application to allow CORS
FRONTEND_URL=http://localhost:5173
